streamlit
requests
langchain-mistralai
langchain-core
langchain-community
langchain-text-splitters
mistralai
faiss-cpu
pymupdf
python-dotenv
pint
ecologits
ecologits[mistralai,openai]
langchain-community
faiss-cpu